@font-face {
    font-family: "Sequel Sans";
    src: url("../Fonts/Sequel-Sans.otf");
    font-display: swap;
}
@font-face {
    font-family: "Space-Grotesk";
    src: url("../Fonts/SpaceGrotesk-Bold.ttf");
    font-display: swap;
}